* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  color: aliceblue;
}
#name {
  margin-left: 50px;
  padding: 10px;
}
.main {
  background-color: gradient(linear, left top);
  background-image: linear-gradient(
    0deg,
    rgb(220, 13, 13) 0px,
    rgb(209, 166, 166) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  animation-duration: 12s;
  animation-name: bg_animation;
  animation-iteration-count: infinite;
  height: 1000px;
  width: 100%;
}
@keyframes bg_animation {
  to {
    filter: hue-rotate(360deg);
  }
}

#profile {
  height: 300px;
  width: 300px;
  border: black 10px solid;
  border-radius: 50%;
  padding: 5px;
}
.fex_centre {
  display: flex;
  align-items: center;
  justify-content: center;
}
